<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Immobilier Guinée {% endblock %}</title>
    
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/prettyPhoto.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/animate.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/ui.totop.css') }}">
     <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/extralayers.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/settings.css') }}">
    <!-- Font Awesome  -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.min.css') }}">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/stylesheet.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/skins.css') }}">
    <!-- Google Fonts -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->

    {% block stylesheets %}

    {% endblock %}
</head>
<body class="wide color-skin-1 color-pattern-1">
    <div id="page" class="hfeed site">
        <!-- navbar -->
        <header id="masthead" class="site-header" role="banner">
            <nav class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('immobilier_site_homepage') }}">
                            <img alt="Immobilier" src="{{ asset('images/immobilier_guinee.png') }}">
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div id="main-menu">
                        {{ render(controller("ImmobilierMainmenuBundle:Default:index")) }}
                    </div>	
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>
        </header>
        <!-- /.navbar -->
        <!-- Search block -->
        <header id="searcch-block">
            {{ render(controller("ImmobilierSearchBundle:Default:index")) }}
        </header>
        <!-- /Search block -->

    	<div id="main-wrapper">
            <div id="main" class="wrapper">
                <div id="primary" class="site-comtent">
                    <!-- Contenu principal -->
                    <!-- Slider -->
                    <div id="immobilier-main-slider">
                        {{ render(controller("ImmobilierSliderBundle:Default:index")) }}
                    </div>
                    <!-- /Slider -->
                    {% block body %}

                    {% endblock %}
                </div>
            </div>
    	</div>

    	<footer id="colophon" class="site-footer" role="contentinfo">
            <div id="supplementary">
                <div class="container">
                   <div class="row">
                        <div id="site-info" class="col-sm-6 col-xs-12">
                            <div class="footer-info-wrapper text-center pull-left">
                                <span>© Immobilier Guinée 2017</span>
                            </div>
                        </div>
                        <aside class="col-sm-6 col-xs-12">
                            <div class="widget widget-social pull-right">
                                <h5 class="widget-title">Rester connecté</h5>
                                <ul class="social-links">
                                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                        </aside>
                   </div>
                </div>
            </div>
            <!-- /#supplementary -->
            
            <!-- /.site-footer -->
        </footer>
    </div>
    <!-- Bootstrap JS & Others JavaScript Plugins -->    
    <script type="text/javascript" src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-migrate-1.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script type="text/javascript" src="{{ asset('js/jquery.themepunch.tools.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.themepunch.revolution.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.prettyPhoto.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.carouFredSel-6.2.1-packed.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jflickrfeed.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/easing.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.ui.totop.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/isotope.pkgd.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.fitvids.js') }}"></script>
    <!-- Custom Script -->
    <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
    
    {% block javascripts %}

    {% endblock %}
</body>
</html>