<section id="our-clients" class="section type3">
    <div class="controls">
        <span id="client-prev" class="prev disabled" style="display: inline-block;"><i class="fa fa-angle-left"></i></span>
        <span id="client-next" class="next pull-right" style="display: inline-block;"><i class="fa fa-angle-right"></i></span>
    </div>
    <div class="hide-overflow">
        <div class="row">
            <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1040px; height: 200px; margin: 0px; overflow: hidden;"><div id="caroufredsel-clients-container" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 4160px; height: 200px;">
                    <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper" style="width: 260px;">
                        <a href="#"><img class="img-responsive" src="{{ asset('bundles/Immobilier/PartnersLinksBundle/img/img1.jpg') }}" alt="Partner Image"></a>
                    </div>
                    <!-- /.client-wrapper -->
                    <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper" style="width: 260px;">
                        <a href="#"><img class="img-responsive" src="{{ asset('bundles/Immobilier/PartnersLinksBundle/img/img1.jpg') }}" alt="CliPartnerage"></a>
                    </div>
                    <!-- /.client-wrapper -->
                    <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper" style="width: 260px;">
                        <a href="#"><img class="img-responsive" src="{{ asset('bundles/Immobilier/PartnersLinksBundle/img/img1.jpg') }}" alt="Partner Image"></a>
                    </div>
                    <!-- /.client-wrapper -->
                    <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper" style="width: 260px;">
                        <a href="#"><img class="img-responsive" src="{{ asset('bundles/Immobilier/PartnersLinksBundle/img/img1.jpg') }}" alt="Partner Image"></a>
                    </div>
                    <!-- /.client-wrapper -->
                    <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper" style="width: 260px;">
                        <a href="#"><img class="img-responsive" src="{{ asset('bundles/Immobilier/PartnersLinksBundle/img/img1.jpg') }}" alt="Partner Image"></a>
                    </div>
                    <!-- /.client-wrapper -->
                    <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper" style="width: 260px;">
                        <a href="#"><img class="img-responsive" src="{{ asset('bundles/Immobilier/PartnersLinksBundle/img/img1.jpg') }}" alt="Partner Image"></a>
                    </div>
                    <!-- /.client-wrapper -->
                </div></div>
            <!-- /#caroufredsel-clients-container -->
        </div>
        <!-- /.row -->
    </div>
</section>