<section id="services" class="section">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <a href="http://wobootstrap.com/demo/invent-v1.0/" class="sbox">
                <div class="sbox-inner">
                    <span class="sbox-icon"><i class="fa fa-laptop"></i></span>
                    <h5 class="sbox-title">Fully Responsive Design</h5>
                    <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                </div>
            </a>
        </div>
        <!-- /.col-sm-4 -->
        <div class="col-xs-12 col-sm-4">
            <a href="http://wobootstrap.com/demo/invent-v1.0/" class="sbox">
                <div class="sbox-inner">
                    <span class="sbox-icon"><i class="fa fa-code"></i></span>
                    <h5 class="sbox-title">Easy &amp; Clean Code</h5>
                    <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                </div>
            </a>
        </div>
        <!-- /.col-sm-4 -->
        <div class="col-xs-12 col-sm-4">
            <a href="http://wobootstrap.com/demo/invent-v1.0/" class="sbox">
                <div class="sbox-inner">
                    <span class="sbox-icon"><i class="fa fa-paper-plane"></i></span>
                    <h5 class="sbox-title">24/7 Customer Support</h5>
                    <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                </div>
            </a>
        </div>
        <!-- /.col-sm-4 -->
    </div>
    <!-- /.row -->
</section>