{% block body %}

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <span class="search-toggle visible-lg-block"><i class="fa fa-search"></i></span>
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Accueil</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Appartements <i class="fa fa-angle-double-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Menu 1</a></li>
                    <li><a href="#">Menu 2</a></li>
                    <li><a href="#">Menu 3</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Réservations <i class="fa fa-angle-double-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Menu 4</a></li>
                    <li><a href="#">Menu 5</a></li>
                </ul>
            </li>
            <li><a href="#">A propos</a></li>
            <li><a href="#">Contact</a></li>
            </li>
        </ul>
        <!-- /.nav -->
    </div>

{% endblock %}
