{% extends "::layout.html.twig" %}

{% block title %} {{ parent() }} - Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('slider/pgwslider.min.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <!-- first section -->
        <section id="immobilier-first-section">
            <div class="row">
                <div id="left-block" class="col-sm-8 col-xs-12">
                    {{ render(controller("ImmobilierHomeContentBundle:Default:index")) }}
                </div>
                <div id="right-column" class="col-sm-4 col-xs-12">
                    <h4>Colonne de droite</h4>
                    {% block right_column %}


                    {% endblock %}
                </div>
            </div>
        </section>
        <!-- /first section -->

        <!-- second section -->
        <section id="immobilier-second-section">
            {{ render(controller("ImmobilierCenterBlocksBundle:Default:index")) }}
        </section>
        <!-- /second section -->

        <!-- third section -->
        <section id="immobilier-third-section">
            {{ render(controller("ImmobilierInfosBlocksBundle:Default:index")) }}
        </section>
        <!-- /third section -->

        <!-- partner section -->
        <section id="partner-section">
            {{ render(controller("ImmobilierPartnersLinksBundle:Default:index")) }}
        </section>
        <!-- /partner section -->
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/custom.js') }}"></script>
    <script type="text/javascript" src="{{ asset('slider/pgwslider.min.js') }}"></script>
{% endblock %}