/*
 * Scaffolding
 * --------------------------------------------------
 */

/* Body reset */
body {
    font-family: 'Raleway', sans-serif;
    color: #8c9899;
    font-size: 13px;
}

/* Links */

a {
    color: #2c3e50;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

a:hover, a:focus {
    color: #14C990;
    text-decoration: none;
}

a:focus {
    outline: none;
}

/* Selection */
::selection {
    background-color: #f1c40f;
    color: #ffffff;
}

::-moz-selection {
    background-color: #f1c40f;
    color: #ffffff;
}


/*
 * Typography
 * --------------------------------------------------
 */

/* Headings */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 800;
    color: #2c3e50;
}


/*
 * Header
 * --------------------------------------------------
 */

#masthead .navbar {
    margin-bottom: 0;
    min-height: 70px;
    *font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

#masthead .navbar-default {
    background-color: #ffffff;
    *border-color: #ecf0f1;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
    border: 0;
}

#masthead .navbar-brand {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
    padding: 5.5px 15px;
    height: 70px;
    color: #000;
}

#masthead .navbar-brand img {
    width: 65px;
}

#masthead .navbar-default .navbar-brand {
    color: #000;
}

#masthead .navbar-brand span {
    color: #14C990;
}

#masthead .navbar-nav > li > a {
    text-transform: uppercase;
    font-weight: 900;
}

#masthead .navbar-default .navbar-nav > li > a {
    color: #2c3e50;
}

#masthead .navbar-default .navbar-nav > li > a:hover, #masthead .navbar-default .navbar-nav > li > a:focus {
    color: #14C990;
}

#masthead .dropdown-menu {
    font-size: 11px;
    min-width: 175px;
}

#masthead .dropdown-menu > li > a {
    color: #2c3e50;
    font-weight: 400;
    text-transform: uppercase;
}

#masthead .dropdown-menu > li > a:hover, #masthead .dropdown-menu > li > a:focus {
    color: #14C990;
}


@media (max-width: 767px) {
    #masthead .navbar-default .navbar-nav > .active > a, #masthead .navbar-default .navbar-nav > .active > a:hover, #masthead .navbar-default .navbar-nav > .active > a:focus {
        color: #fff !important;
        background-color: #14C990;
        border-bottom: 0;
    }

    #masthead .navbar-default .navbar-nav > .open > a, #masthead .navbar-default .navbar-nav > .open > a:hover, #masthead .navbar-default .navbar-nav > .open > a:focus {
        border-bottom: 0;
    }

    #masthead .navbar-default .navbar-nav > .open > a, #masthead .navbar-default .navbar-nav > .open > a:hover, #masthead .navbar-default .navbar-nav > .open > a:focus {
        background-color: #000;
        color: #fff !important;
    }

    #masthead .navbar-nav > li > a {
        border-bottom: 1px solid #ecf0f1;
    }

    #masthead .navbar-nav > li:last-child > a {
        border-bottom: 0;
    }

    #masthead .nav > li.dropdown:before {
        content: "+";
        position: absolute;
        top: 0;
        right: 15px;
        color: #bdc3c7;
        font-size: 30px;
        z-index: 9999;
        font-weight: 200;
    }

    #masthead .nav > li.dropdown.open:before {
        content: "-";
        right: 17px;
    }

    #masthead .dropdown-menu > li > a:before {
        content: "-";
        margin-right: 5px;
        margin-left: -10px;
    }
}

@media (min-width: 768px) {
    #masthead .navbar-brand {
        padding: 10px;
        height: 90px;
    }

    #masthead .navbar-brand img {
        width: 87px;
    }

    #masthead .navbar-nav > li > a {
        border-top: 4px solid transparent;
        padding-top: 45px;
        padding-bottom: 45px;
    }

    #masthead .navbar-default .navbar-nav > li > a:hover, #masthead .navbar-default .navbar-nav > li > a:focus {
        border-top-color: #14C990;
    }

    #masthead .navbar-default .navbar-nav > .active > a, #masthead .navbar-default .navbar-nav > .active > a:hover, #masthead .navbar-default .navbar-nav > .active > a:focus {
        color: #14C990;
        *background-color: #E7E7E7;
        border-top: 4px solid #14C990;
        padding-top: 45px;
        background-color: transparent;
    }

    #masthead .navbar-default .navbar-nav > .open > a, #masthead .navbar-default .navbar-nav > .open > a:hover, #masthead .navbar-default .navbar-nav > .open > a:focus {
        *color: #555;
        background-color: #ffffff;
        border-top: 4px solid #14C990;
    }

    #masthead .dropdown-menu {
        border-radius: 0;
        border: 0;
        background-color: #000;
    }

    #masthead .dropdown-menu > li > a {
        padding: 15px 30px;
        color: #fff;
        font-weight: 800;
    }

    #masthead .dropdown-menu > li > a:hover, #masthead .dropdown-menu > li > a:focus {
        background-color: #14C990;
        color: #fff !important;
    }

    #masthead .dropdown-menu > .active > a, #masthead .dropdown-menu > .active > a:hover, #masthead .dropdown-menu > .active > a:focus {
        background-color: #14C990;
    }
}


#masthead .navbar-default .navbar-toggle {
    background-color: #14C990;
    background-image: none;
    border: 1px solid #14C990;
    border-radius: 0;
    margin-top: 20px;
    margin-bottom: 15px;
}

#masthead .navbar-default .navbar-toggle .icon-bar {
    border-radius: 0;
    background-color: #ffffff;
    height: 4px;
}

#masthead .navbar-default .navbar-toggle:hover, #masthead .navbar-default .navbar-toggle:focus {
    border-color: #14C990;
}


/* Custom Responsive Video
 * -------------------------- */

.embed-responsive.embed-responsive-10by8 {
    padding-bottom: 66.25%;
}

/* Buttons
 * -------------------------- */

.btn {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-transform: uppercase;
    font-weight: 800;
    *font-size: 12px;
    padding: 10px 15px;
    font-size: 12px;
}

.btn-lg {
    padding: 18px 27px;
    *font-size: 14px;
    font-size: 14px;
}

.btn-sm, .btn-xs {
    padding: 6px 9px;
    *font-size: 10px;
    font-size: 10px;
}

.btn-xs {
    padding: 1px 5px;
}

.squre {
    border-radius: 0;
}

.thin {
    border-width: 1px;
}

/* Flat Buttons
 * -------------------------- */

.adv-default, .adv-default:hover, .adv-default:active {
    border: 2px solid #bdc3c7;
}

.adv-default, .adv-default.btn-bordered:hover {
    background-color: #bdc3c7;
    color: #ffffff;
}

.adv-default:hover, .adv-default.btn-bordered {
    background-color: transparent;
    color: #bdc3c7;
}

.adv-primary, .adv-primary:hover, .adv-primary:active {
    border: 2px solid rgb(26, 188, 156);
}

.adv-primary, .adv-primary.btn-bordered:hover {
    background-color: rgb(26, 188, 156);
    color: #ffffff;
}

.adv-primary:hover, .adv-primary.btn-bordered {
    background-color: transparent;
    color: rgb(26, 188, 156);
}

.adv-success, .adv-success:hover, .adv-success:active {
    border: 2px solid rgb(46, 204, 113);
}

.adv-success, .adv-success.btn-bordered:hover {
    background-color: rgb(46, 204, 113);
    color: #ffffff;
}

.adv-success:hover, .adv-success.btn-bordered {
    background-color: transparent;
    color: rgb(46, 204, 113);
}

.adv-info, .adv-info:hover, .adv-info:active {
    border: 2px solid rgb(52, 152, 219);
}

.adv-info, .adv-info.btn-bordered:hover {
    background-color: rgb(52, 152, 219);
    color: #ffffff;
}

.adv-info:hover, .adv-info.btn-bordered {
    background-color: transparent;
    color: rgb(52, 152, 219);
}

.adv-warning, .adv-warning:hover, .adv-warning:active {
    border: 2px solid rgb(241, 196, 15);
}

.adv-warning, .adv-warning.btn-bordered:hover {
    background-color: rgb(241, 196, 15);
    color: #ffffff;
}

.adv-warning:hover, .adv-warning.btn-bordered {
    background-color: transparent;
    color: rgb(241, 196, 15);
}

.adv-danger, .adv-danger:hover, .adv-danger:active {
    border: 2px solid rgb(231, 76, 60);
}

.adv-danger, .adv-danger.btn-bordered:hover {
    background-color: rgb(231, 76, 60);
    color: #ffffff;
}

.adv-danger:hover, .adv-danger.btn-bordered {
    background-color: transparent;
    color: rgb(231, 76, 60);
}

.adv-inverse, .adv-inverse:hover, .adv-inverse:active {
    border: 2px solid #000;
}

.adv-inverse, .adv-inverse.btn-bordered:hover {
    background-color: #000;
    color: #fff;
}

.adv-inverse:hover, .adv-inverse.btn-bordered {
    background-color: transparent;
    color: #000;
}

.adv-color, .adv-color:hover, .adv-color:active {
    border: 2px solid #14C990;
    color: #ffffff !important;
}

.adv-color {
    background-color: #14C990;
    border-color: #14C990;
}

.adv-color:hover {
    background-color: #000 !important;
    border-color: #000 !important;
}

.adv-color.btn-bordered {
    background-color: transparent;
    color: #14C990;
}

.adv-color.btn-bordered:hover {
    background-color: #000;
    color: #fff;
}


/* Form Elements
 * -------------------------- */
.form-control {
    border-width: 2px;
    box-shadow: none;
    height: 43px;
}


/*
 * Search Box
 * --------------------------------------------------
 */

#header-search-box {
    display: none;
}

.search-box {
    padding: 15px 0;
}

.search-box .form-control {
    box-shadow: none;
    border-color: transparent;
    *font-size: 20px;
    color: #bdc3c7;
    font-weight: 800;
    height: 57px;
}

.search-box .form-control::-moz-placeholder {
    color: #ecf0f1;
    text-transform: lowercase;
}

.search-box .form-control:-ms-input-placeholder {
    color: #ecf0f1;
    text-transform: lowercase;
}

.search-box .form-control::-webkit-input-placeholder {
    color: #ecf0f1;
    text-transform: lowercase;
}

.search-box .close {
    line-height: 55px;
    font-size: 30px;
    font-weight: 300;
    height: 55px;
}

.search-box .btn {
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-color: transparent;
    color: #ecf0f1;
    font-size: 20px;
    line-height: 17px;
}

.search-box .btn:hover, .search-box .btn:focus, .search-box .btn:active {
    background-color: transparent;
}


/* Search Toggle
 * -------------------------- */

.search-toggle {
    width: 30px;
    height: 30px;
    background-color: #14C990;
    text-align: center;
    line-height: 30px;
    float: right;
    margin-top: 41px;
    margin-bottom: 30px;
    margin-left: 30px;
    cursor: pointer;
    color: #ffffff;
}

.search-toggle:hover {
    background-color: #000 !important;
}

/* iFrame
 * -------------------------- */

iframe {
    border: 0;
}

.google-map iframe {
    width: 100%;
}

/* Slider
 * -------------------------- */
.tp-banner-container {
    width: 100%;
    position: relative;
    padding: 0;
}

.tp-banner {
    width: 100%;
    position: relative;
}

.tp-caption.emphatic_large_bold {
    font-size: 40px;
    line-height: 40px;
    font-weight: 900;
    font-family: "Raleway",sans-serif;
    color: #000;
    text-decoration: none;
    background-color: transparent;
    border-width: 0px;
    border-color: rgb(255, 214, 88);
    border-style: none;
}

.tp-caption.emphatic_small_bold {
    position: absolute;
    color: #555;
    text-shadow: none;
    font-size: 15px;
    line-height: 22px;
    font-family: "Raleway",sans-serif;
    margin: 0px;
    border-width: 0px;
    border-style: none;
    white-space: nowrap;
}

/* Flush Style
 * -------------------------- */
.flush {
    margin-right: 0;
    margin-left: 0;
}

.flush .col-xs-1, .flush .col-xs-2, .flush .col-xs-3, .flush .col-xs-4, .flush .col-xs-5, .flush .col-xs-6, .flush .col-xs-7, .flush .col-xs-8, .flush .col-xs-9, .flush .col-xs-10, .flush .col-xs-11, .flush .col-xs-12, .flush .col-sm-1, .flush .col-sm-2, .flush .col-sm-3, .flush .col-sm-4, .flush .col-sm-5, .flush .col-sm-6, .flush .col-sm-7, .flush .col-sm-8, .flush .col-sm-9, .flush .col-sm-10, .flush .col-sm-11, .flush .col-sm-12, .flush .col-md-1, .flush .col-md-2, .flush .col-md-3, .flush .col-md-4, .flush .col-md-5, .flush .col-md-6, .flush .col-md-7, .flush .col-md-8, .flush .col-md-9, .flush .col-md-10, .flush .col-md-11, .flush .col-md-12, .flush .col-lg-1, .flush .col-lg-2, .flush .col-lg-3, .flush .col-lg-4, .flush .col-lg-5, .flush .col-lg-6, .flush .col-lg-7, .flush .col-lg-8, .flush .col-lg-9, .flush .col-lg-10, .flush .col-lg-11, .flush .col-lg-12 {
    padding-right: 0;
    padding-left: 0;
}


/* Social Links
 * -------------------------- */
.social-links {
    padding-left: 0;
    list-style: none;
    font-size: 15px;
    margin: 0;
}

.social-links > li {
    display: inline-block;
}

.social-links > li a {
    color: #ffffff;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    background-color: rgba(0,0,0,0.5);
}

.social-links.type2 > li a {
    background-color: #ffffff;
    color: #000;
}

.social-links > li a.facebook:hover {
    background-color: #2f5a9a;
    color: #fff !important;
    border-color: #2f5a9a;
}

.social-links > li a.twitter:hover {
    background-color: #3abdd1;
    color: #fff !important;
    border-color: #3abdd1;
}

.social-links > li a.google-plus:hover {
    background-color: #363636;
    color: #fff !important;
    border-color: #363636;
}

.social-links > li a.pinterest:hover {
    background-color: #d13a3a;
    color: #fff !important;
    border-color: #d13a3a;
}

.social-links > li a.rss:hover {
    background-color: #f15200;
    color: #fff !important;
    border-color: #f15200;
}

.social-links > li a.linkedin:hover {
    background-color: #4875B4;
    border-color: #4875B4;
    color: #fff !important;
}


/* Isotope Animating
 * -------------------------- */
.isotope, .isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

/* Archive Header
 * -------------------------- */
.archive-header {
    padding: 50px 0;
    background-color: #ecf0f1;
    text-transform: uppercase;
    *font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.archive-header .archive-title {
    color: #2c3e50;
    margin: 0;
    padding: 0;
}

.archive-header .breadcrumb {
    background-color: transparent;
    padding-right: 0;
    margin: 0;
    padding: 0;
    font-size: 11px;
    float: right;
}

.archive-header .breadcrumb a {
    color: #34495e;
}

.archive-header .breadcrumb a:hover, .archive-header .breadcrumb a:focus {
    color: #14C990;
}

.archive-header .breadcrumb > .active {
    color: #bdc3c7;
}

/* Panel
 * -------------------------- */
.panel-title {
    font-size: 13px;
    font-weight: 700;
    color: inherit !important;
    text-transform: uppercase;
}

.panel-title > a, .panel-title > a:hover, .panel-title > a:focus {
    color: inherit !important;
}

/* Collapse
 * -------------------------- */
.panel-group .panel {
    position: relative;
}

.panel-group .panel .panel-title .accordion-toggle:before, .panel-group .panel .panel-title .accordion-toggle.collapsed:before {
    *font-family: FontAwesome;
    content: "-";
    margin-right: 10px;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 30px;
    font-weight: 100;
    color: #7f8c8d;
}

.panel-group .panel.panel-primary .panel-title .accordion-toggle:before, .panel-group .panelpanel-primary .panel-title .accordion-toggle.collapsed:before {
    color: #ffffff;
}

.panel-group .panel .panel-title .accordion-toggle.collapsed:before {
    content: "+";
}

.panel-heading {
    padding-left: 35px;
}

.panel-default > .panel-heading {
    background-color: transparent;
}


/* Tabs
 * -------------------------- */
.nav-tabs {
    border-bottom: 0;
}

.nav-tabs > li {
    z-index: 2;
}

.nav-tabs > li > a {
    font-weight: 700;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #14C990;
    border-color: #ecf0f1;
    border-bottom-color: transparent;
}

.nav > li > a:hover, .nav > li > a:focus {
    outline: 0;
}

.tab-content {
    border: 1px solid #ecf0f1;
    padding: 15px;
    position: relative;
    z-index: 1;
}

/* Progress
 * -------------------------- */
.progress {
    height: 37px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.progress-bar {
    font-weight: bold;
    line-height: 37px;
    text-align: left;
    padding-left: 20px;
}


/* Testimonials
 * -------------------------- */
.testimonial {
    margin-top: 0;
    border: 1px solid #ecf0f1;
    padding: 30px 25px;
    float: left;
}

.testimonial > .pull-left {
    margin-right: 15px;
}

.testimonial blockquote {
    font-size: 15px;
    border: 0;
    padding: 0;
    margin: 0;
}


/* Subpage Title
 * -------------------------- */
.subpage-title {
    overflow: hidden;
    position: relative;
    padding-bottom: 25px;
    *font-family: 'Montserrat', sans-serif;
}

.subpage-title.type2 {
    padding-bottom: 0;
}

.subpage-title.type3 {
    margin-bottom: -35px;
}

.subpage-title h5 {
    text-transform: uppercase;
    position: relative;
    margin: 0;
    font-weight: 800;
    color: #2c3e50;
    overflow: hidden;
    font-size: 16px;
    line-height: 25px;
    border-left: 10px solid #f0f3f4;
    padding-left: 15px;
}

#supplementary .subpage-title h5 {
    color: #ffffff;
    font-size: 14px;
    border-left: 0;
    padding-left: 0;
}

.sidebar .subpage-title h5 {
    font-size: 15px;
}

.subpage-title .controls {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #FFF;
    padding-left: 20px;
    float: right;
}


/*Controls
 * -------------------------- */
.controls .prev, .controls .next {
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #14C990;
    background-color: #14C990;
    color: #ffffff;
    font-size: 20px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.subpage-title .controls .prev, .subpage-title .controls .next {
    width: 25px;
    height: 25px;
    display: inline-block;
    line-height: 23px;
    font-size: 15px;
}

.controls .prev.disabled, .controls .next.disabled, .controls .prev.disabled:hover, .controls .next.disabled:hover {
    color: #bdc3c7;
    background-color: #ffffff !important;
    border-color: #ecf0f1 !important;
    ;
    opacity: 1;
}

.controls .prev:hover, .controls .next:hover {
    background-color: #000;
    border-color: #000;
}

.controls .next {
    margin-left: 5px;
}

.subpage-title .controls .next {
    margin-left: 0;
}


/*
 * Count Box ( cbox ) & Navigation Box ( nbox )
 * --------------------------------------------------
 */

.cbox {
    padding: 35px 25px;
    background-color: #14C990;
    color: #ffffff;
}

.cbox .cbox-title {
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 0;
    *font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.cbox .cbox-counter {
    font-size: 65px;
    font-weight: 100;
    line-height: 65px;
}

.nbox {
    border: 1px solid #ecf0f1;
    padding: 25px;
}

/* Section
 * -------------------------- */
.section.type2 {
    padding-top: 35px;
    padding-bottom: 35px;
}

.section.type3 {
    padding-top: 35px;
    position: relative;
}

.section.type4 {
    padding-bottom: 35px;
}

.section.type5 {
    margin-top: -35px;
    padding-bottom: 35px;
}


/* Portfolio Item
 * -------------------------- */
.portfolio-item-wrapper {
    padding-top: 35px;
    padding-bottom: 35px;
}

.portfolio.type3 .portfolio-item-wrapper {
    padding-top: 0;
}

.portfolio-item {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.portfolio-item .portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-item .portfolio-thumb img {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.portfolio-item:hover .portfolio-thumb img {
    transform: scale(1.1);
}

.portfolio-item .portfolio-thumb .image-overlay {
    background-color: #14C990;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.portfolio-item:hover .portfolio-thumb .image-overlay {
    opacity: 0.50;
    filter: alpha(opacity=50);
}

.portfolio-item .portfolio-thumb .portfolio-zoom, .portfolio-item .portfolio-thumb .portfolio-link {
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #ffffff;
    display: none;
    line-height: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    font-size: 18px;
    color: #fff;
    display: block;
    color: #14C990;
}

.portfolio-item .portfolio-thumb .portfolio-zoom:hover, .portfolio-item .portfolio-thumb .portfolio-link:hover {
    background-color: #14C990;
    color: #fff !important;
}

.portfolio-item .portfolio-thumb .portfolio-link {
    right: 0;
    margin-right: -50px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.portfolio-item .portfolio-thumb .portfolio-zoom {
    left: 0;
    margin-left: -50px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.portfolio-item:hover .portfolio-thumb .portfolio-zoom {
    display: block;
    left: 50%;
    margin-left: -55px;
}

.portfolio-item:hover .portfolio-thumb .portfolio-link {
    display: block;
    right: 50%;
    margin-right: -55px;
}

.portfolio-item .portfolio-details {
    border: 1px solid #ecf0f1;
    padding: 25px;
}

.portfolio-item .portfolio-details .portfolio-title a {
    color: #2c3e50;
}

.portfolio-meta {
    text-transform: uppercase;
    font-size: 11px;
    color: #bdc3c7;
}

.portfolio-meta a {
    color: #95a5a6;
}

.portfolio-meta a:hover, .portfolio-metaa:focus {
    color: #14C990;
}

.portfolio-likes {
    float: right;
}


/* Footer
 * -------------------------- */
footer a {
    color: #ffffff;
}

#supplementary {
    background-color: #2c3e50;
    position: relative;
}

#supplementary:before {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 10px;
    border-bottom-width: 0;
    border-top-color: #ffffff;
    top: 0;
    left: 50%;
    content: "";
    margin-left: -10px;
}

#supplementary .widget {
    padding: 20px 0;
}

#site-info {
    *font-family: 'Montserrat', sans-serif;
    padding: 50px 0;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 800;
}

#site-info .list-inline {
    margin-bottom: 0;
    text-align: right;
}

@media (max-width: 767px) {
    #site-info .list-inline {
        text-align: center;
    }
}

#site-info .list-inline li {
    padding-right: 10px;
}

#site-info .list-inline li:first-child {
    padding-left: 0;
}

#site-info .list-inline li:last-child {
    padding-right: 0;
}

#site-info a:hover {
    color: #14C990;
}

@media (max-width: 767px) {

    #site-info .footer-info-wrapper, #site-info .social-link-wrapper {
        text-align: center;
    }

    #site-info .social-link-wrapper .social-links {
        float: inherit;
    }
}




/* Recent Posts
 * -------------------------- */
.recent-posts {
    padding-left: 0;
    list-style: none;
    overflow: hidden;
    margin-bottom: 0;
}

.recent-posts > li {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.recent-posts > li:last-child {
    margin-bottom: 0;
}

.recent-posts img {
    width: 64px;
    height: 64px;
    float: left;
    margin-right: 10px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.recent-posts img:hover {
    opacity: 0.65;
    filter: alpha(opacity=65);
}

.recent-posts h5 {
    margin: 0;
    font-size: 13px;
}

.recent-posts h5 small {
    display: block;
    margin-top: 7px;
    text-transform: uppercase;
}

/* Categories
 * -------------------------- */
.widget-categories .list-group-item:first-child, .widget-categories .list-group-item:last-child {
    border-radius: 0;
}

.widget-categories a {
    font-weight: bold;
}


/* Flickr Photos
 * -------------------------- */
.widget-flickr {
    padding-bottom: 30px;
}

.flickr-photos-list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    overflow: hidden;
}

.flickr-photos-list > li {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.flickr-photos-list > li img {
    width: 64px;
    height: 64px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.flickr-photos-list > li img:hover {
    opacity: 0.65;
    filter: alpha(opacity=65);
}

/* Footer Brand
 * -------------------------- */
.brand {
    font-size: 30px;
    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-bottom: 35px;
}

.brand span {
    color: #14C990;
}

/* ToTop
 * -------------------------- */
#toTop {
    background-color: #14C990;
    background-image: none;
    bottom: 20px;
    right: 20px;
    text-indent: inherit;
    width: 45px;
    height: 45px;
}

#toTopHover {
    background: none;
    background-color: #000;
    width: 45px;
    height: 45px;
}

#toTop:before {
    font-family: 'FontAwesome';
    content: "\f106";
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin-top: -10px;
    margin-left: -10px;
}

/* Tag Cloud
 * -------------------------- */
.widget-tagcloud {
    padding-bottom: 27px;
}

.tag-links {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.tag-links > li {
    display: inline-block;
}

.tag-links a {
    background-color: #14C990;
    border-radius: 0 2px 2px 0;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    font-weight: 800;
    line-height: 1.2727272727;
    margin: 0 4px 8px 8px;
    padding: 4px 7px;
    position: relative;
    text-transform: uppercase;
}

.tag-links a:hover {
    background-color: #000 !important;
    color: #fff !important;
}

.tag-links a:before {
    border-top: 10px solid transparent;
    border-right: 8px solid #14C990;
    border-bottom: 10px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    top: 0;
    left: -8px;
    width: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.tag-links a:hover:before {
    border-right-color: #000 !important;
}

.tag-links a:after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 4px;
    position: absolute;
    top: 8px;
    left: -2px;
    width: 4px;
}

/*
 * Main Wrapper
 * --------------------------------------------------
 */
.wrapper {
    padding-top: 35px;
    padding-bottom: 35px;
}


/*
 * Service Box ( sbox )
 * --------------------------------------------------
 */

.sbox, .sbox:hover {
    display: block;
    padding: 35px 0;
    text-align: center;
    color: #95a5a6 !important;
}

.sbox-inner {
    padding: 35px 25px;
    border: 1px solid #ecf0f1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-radius: 100%;
}

.sbox-inner .sbox-icon {
    width: 75px;
    height: 75px;
    background-color: #14C990;
    border-radius: 100%;
    display: inline-block;
    color: #fff;
    font-size: 25px;
    line-height: 75px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sbox-inner .sbox-title {
    text-transform: uppercase;
    color: #2c3e50;
    margin: 15px 0;
    *font-family: 'Montserrat', sans-serif;
}

.sbox:hover .sbox-inner .sbox-icon {
    background-color: #000;
}

/* Example Buttons
 * -------------------------- */
.example-buttons .btn {
    margin-bottom: 5px;
}

/* Clients
 * -------------------------- */
.client-wrapper {
    padding-top: 35px;
    padding-bottom: 35px;
}

.client-wrapper a {
    border: 1px solid #ecf0f1;
    display: block;
    opacity: 0.65;
    filter: alpha(opacity=65);
}

.client-wrapper a:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

/* Portfolio Filter
 * -------------------------- */
.portfolio-filter {
    text-transform: uppercase;
    font-size: 11px;
}

.portfolio-filter .nav-pills > li > a {
    border-radius: 2px;
    font-weight: 700;
    color: #7f8c8d;
}

.portfolio-filter .nav-pills > li.active > a, .portfolio-filter .nav-pills > li.active > a:hover, .portfolio-filter .nav-pills > li.active > a:focus {
    border-color: #14C990;
    background-color: #14C990;
    color: #ffffff;
}

/* Pricing
 * -------------------------- */
.pricing {
    padding: 35px 0;
}

.pricing .list-group {
    margin-bottom: -1px;
}

.pricing .list-group-item {
    border-color: #ecf0f1;
    padding: 12px 25px;
    color: #7f8c8d;
}

.pricing .list-group-item:first-child, .pricing .list-group-item:last-child {
    border-radius: 0;
}

.pricing .title {
    background-color: #16a085;
    padding: 10px 25px;
    text-transform: uppercase;
}

.pricing.premium .title {
    background-color: #34495e;
}

.pricing.professional .title {
    background-color: #2c3e50;
}

.pricing.ultimate .title {
    background-color: #000;
}

.pricing .title h4 {
    color: #ffffff;
}

.pricing .price {
    background-color: #14C990;
    color: #ffffff;
    padding: 25px;
}

.pricing .price h2 {
    font-weight: 800;
}

.pricing .price .dollar {
    font-size: 24px;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
}

.pricing .price h2 {
    font-size: 60px;
    color: #ffffff;
    display: inline-block;
    margin: 0;
}

.pricing .price .per {
    font-size: 14px;
    display: inline-block;
}

.pricing .details {
    padding-left: 0;
    list-style: none;
    *padding: 0 20px;
    border: 1px solid #ecf0f1;
    border-width: 0 1px;
    margin-bottom: 0;
}

.pricing .details li {
    padding: 15px 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.pricing .details li:last-child {
    border-bottom: 0;
}

.pricing .p-footer {
    padding: 20px;
    border: 1px solid #ecf0f1;
}

/* Error 404
 * -------------------------- */
.error {
    background-color: #14C990;
    color: #ffffff;
    text-align: center;
    font-size: 200px;
    font-weight: 700;
    border-radius: 3px;
    position: relative;
    height: 350px;
}

.error-title {
    margin: 0;
    font-size: 200px;
    line-height: 100px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    font-weight: 100;
    color: #ffffff;
    margin-left: -165px;
    margin-bottom: -75px;
    height: 150px;
    *background-color: #000;
    width: 330px;
}

.error-content {
    background-color: #ecf0f1;
    padding: 35px;
    position: relative;
    border-radius: 3px;
    min-height: 350px;
}

.error-content .btn {
    margin-top: 25px;
}

@media (min-width: 768px) {
    .error-content .btn {
        position: absolute;
        left: 35px;
        bottom: 35px;
    }
}

@media (max-width: 768px) {
    .error-title {
        font-size: 150px;
    }
}

.error-content h3 {
    margin-top: 0;
}

.error-content:before {
    font-family: 'FontAwesome';
    content: "\f002";
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 150px;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    opacity: 0.15;
    filter: alpha(opacity=15);
}

/* Post
 * -------------------------- */

.post {
    padding: 35px 0;
}

.entry-wrap {
    border: 1px solid #ecf0f1;
    padding: 17px 35px;
}

.post.type2 .entry-wrap, .post.type3 .entry-wrap {
    padding: 15px 25px;
}

.entry-thumb {
    position: relative;
    overflow: hidden;
}

.entry-thumb .image-overlay {
    background-color: #14C990;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.entry-thumb:hover .image-overlay {
    opacity: 0.50;
    filter: alpha(opacity=50);
}

.entry-thumb .ima-zoom {
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #ffffff;
    display: none;
    line-height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    bottom: 0;
    margin-bottom: -50px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 18px;
    color: #fff;
    display: block;
    color: #14C990;
}

.entry-thumb .ima-zoom:hover {
    background-color: #14C990;
    color: #fff !important;
}

.entry-thumb:hover .ima-zoom {
    display: block;
    bottom: 50%;
    margin-bottom: -25px;
}

.entry-thumb iframe {
    width: 100%;
}


.entry-header {
    padding: 17px 0;
}

.post.type2 .entry-header {
    padding: 10px 0;
}

.post.type3 .entry-header {
    padding: 5px 0;
}

.entry-content {
    padding: 17px 0;
}

.post.type2 .entry-content, .post.type3 .entry-content {
    padding: 10px 0;
}

.entry-meta {
    text-transform: uppercase;
    font-size: 11px;
    padding: 17px 0;
    color: #95a5a6;
    border-top: 1px solid #ecf0f1;
}

.post.type2 .entry-meta, .post.type3 .entry-meta {
    padding: 10px 0;
}

.post.type3 .entry-meta {
    border: 0;
    font-weight: normal;
}

.continue-reading {
    padding-top: 20px;
}

.entry-meta .post-date, .entry-meta .post-author, .entry-meta .post-cats, .entry-meta .post-taxs, .entry-meta .comments-link, .entry-meta .edit-link, .entry-meta .post-format {
    margin-right: 10px;
}

.comments {
    float: right;
}

.entry-meta a {
    color: #95a5a6;
}

.entry-meta a:hover, .entry-meta a:focus {
    color: #14C990;
}

.entry-title {
    font-size: 24px;
    margin: 0;
}

.post.type2 .entry-title {
    font-size: 18px;
}

.post.type3 .entry-title {
    font-size: 14px;
}

.cat-links {
    font-weight: 800;
}

.flush .post {
    border-radius: 0;
}

/* Pagination
 * -------------------------- */
.pagination {
    margin: 35px 0px;
    border-radius: 0;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-radius: 0;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 0;
}

.pagination > li > a, .pagination > li > span {
    margin-left: 5px;
}


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #14C990;
    border-color: #14C990;
    font-weight: bold;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

/* Form Search
 * -------------------------- */

.widget-search {
    position: relative;
}

.form-search {
    position: relative;
}

.form-search:before {
    font-family: FontAwesome;
    content: "\f002";
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 18px;
    color: #ecf0f1;
}

.form-search .form-control {
    border-width: 2px;
    border-radius: 0;
    border-color: #ecf0f1;
    box-shadow: none;
    height: 40px;
}

.form-search .form-control:focus {
    border-color: #14C990;
}

/* Widget
 * -------------------------- */
.widget {
    padding: 35px 0;
}

.widget p:last-child {
    margin-bottom: 0;
}

.widget-title {
    color: #ffffff;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    line-height: 30px;
}

/* Portfolio Item
 * -------------------------- */
.project-details-list {
    list-style: none;
    padding: 20px;
    margin: 0;
    border: 1px solid #ecf0f1;
    overflow: hidden;
}

.project-details-list li {
    padding: 10px 0;
    border-bottom: 1px solid #ecf0f1;
}

.project-details-list li:first-child {
    padding-top: 0;
}

.project-details-list li:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}

.project-details-list h6 {
    width: 100px;
    float: left;
    font-weight: normal;
    color: #7f8c8d;
    margin: 0;
    line-height: 1.428571429;
}

.project-details-list .project-terms {
    font-weight: bold;
    color: #2c3e50;
    margin-left: 100px;
}

.portfolio-navigation {
    text-align: right;
}

.portfolio-navigation-list {
    padding-left: 0;
    list-style: none;
    margin: 0;
    border: 1px solid #ecf0f1;
    border-width: 1px 0;
    padding: 10px 0;
}

.portfolio-navigation-list li {
    display: inline-block;
}

.portfolio-navigation-list li:first-child {
    float: left;
}

/* Icon Preview
 * -------------------------- */
.fontawesome-icon-list a {
    display: block;
    cursor: pointer;
    line-height: 32px;
    height: 32px;
    padding-left: 10px;
    border-radius: 6px;
    background-color: #fff0f0;
    margin-bottom: 5px;
}

.fontawesome-icon-list a:hover {
    background-color: #14C990;
    text-decoration: none;
    color: #ffffff !important;
}

.fontawesome-icon-list a .fa {
    width: 32px;
    font-size: 14px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
}

.fontawesome-icon-list a:hover .fa {
    font-size: 28px;
    vertical-align: -5px;
}


/* Team
 * -------------------------- */
.member-wrap {
    border: 1px solid #ecf0f1;
    padding: 15px 25px;
}

.member-thumb {
    position: relative;
}

.member-thumb .social-links {
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%;
    display: none;
}

.member-thumb:hover .social-links {
    display: block;
}

.member-thumb .image-overlay {
    background-color: #14C990;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.member-thumb:hover .image-overlay {
    opacity: 0.50;
    filter: alpha(opacity=50);
}

.member-header {
    padding: 10px 0;
}

.team-member {
    padding: 35px 0;
}

.member-name {
    margin: 0;
}

.member-name small {
    text-transform: uppercase;
    display: block;
    margin-top: 10px;
    font-size: 70%;
}

.member-details {
    padding: 10px 0;
}


/* Comment Form
 * -------------------------- */
.comment-form .form-control {
    margin-bottom: 20px;
}

a.comment-reply, .comment-date {
    font-size: 85%;
    color: #bdc3c7;
}


/**
 * 6.7 Post/Image/Paging Navigation
 * -----------------------------------------------------------------------------
 */

.nav-links {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    hyphens: auto;
    word-wrap: break-word;
}

.post-navigation a, .image-navigation .previous-image, .image-navigation .next-image {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 29px 0 30px;
    width: 100%;
}

.post-navigation .meta-nav {
    color: #7f8c8d;
    display: block;
    font-size: 10px;
    font-weight: normal;
    line-height: 2;
    text-transform: uppercase;
}

.post-navigation a, .image-navigation a {
    color: #2b2b2b;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.7142857142;
    text-transform: none;
}

.post-navigation a:hover, .image-navigation a:hover {
    color: #41a62a;
}

/* Paging Navigation */

.paging-navigation {
    border-top: 5px solid #2c3e50;
    margin: 48px 0;
}

.paging-navigation .loop-pagination {
    margin-top: -5px;
    text-align: center;
}

.paging-navigation .page-numbers {
    border-top: 5px solid transparent;
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
    margin-right: 1px;
    padding: 7px 16px;
    text-transform: uppercase;
}

.paging-navigation a {
    color: #2b2b2b;
}

.paging-navigation .page-numbers.current {
    border-top: 5px solid #24890d;
}

.paging-navigation a:hover {
    border-top: 5px solid #41a62a;
    color: #2b2b2b;
}


/* Post Comments
 * -------------------------- */
.post-comments .media {
    position: relative;
}

.post-comments .media .media {
    padding-top: 35px;
    border-top: 1px solid #ecf0f1;
}

.post-comments .media, .post-comments .media .media {
    margin-top: 35px;
}

.post-comments .media:first-child {
    margin-top: 0px;
}

.post-comments .media-body {
    border: 1px solid #ecf0f1;
    padding: 25px;
    overflow: visible;
    margin-left: 84px;
    position: relative;
}

.post-comments .media .media .media-body {
    border: 0;
    padding: 0;
}

.post-comments .media-body:before, .post-comments .media-body:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 11px;
    border-left-width: 0;
    border-right-color: #d3d3d3;
    top: 15px;
    left: -11px;
    content: "";
}

.post-comments .media-body:after {
    border-width: 10px;
    border-right-color: #fff;
    top: 15px;
    left: -20px;
}

.post-comments .media-left, .post-comments  .media > .pull-left {
  padding-right: 25px;
}

.post-comments .media .media .media-body:before, .post-comments .media .media .media-body:after {
    border: 0;
}

.post-comments .media-heading {
    font-size: 13px;
    color: #7f8c8d;
}

.post-comments .media-heading small {
    float: right;
    text-transform: uppercase;
}

.post-comments .reply-link {
    background-color: #000;
    font-size: 10px;
    padding: 2px 5px;
    font-weight: 800;
    color: #ffffff;
}

.post-comments .reply-link:hover {
    background-color: #14C990;
}

.comment-form .form-control {
    border-radius: 0;
}


/* Address
 * -------------------------- */
address {
    margin-bottom: 0;
}

/* Contact Form
 * -------------------------- */
.contact-form .form-control {
    margin-bottom: 20px;
}


/* Controls
 * -------------------------- */
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    margin-top: -10px;
}

.carousel-control .glyphicon-chevron-right {
    left: inherit;
    right: 50%;
}


/* Action Box
 * -------------------------- */
.abox-wrap {
    padding-top: 35px;
    padding-bottom: 35px;
}

.action-box {
    position: relative;
    padding: 30px;
    text-align: center;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid #ecf0f1;
}

.action-box h3 {
    margin-top: 0;
}

@media (min-width: 768px) {
    .action-box {
        text-align: left;
        padding-right: 200px;
    }

    .action-box a.btn {
        position: absolute;
        top: 50%;
        right: 30px;
        margin-top: -21px;
    }
}


/* Boxed Layout
 * -------------------------- */
.boxed {
    background-color: #ecf0f1;
}

.wide {
    background-image: none !important;
    background-color: #fff !important;
}

@media (min-width: 1200px) {
    .boxed #page {
        max-width: 1100px;
        margin: auto;
        background-color: #fff;
    }

    .color-pattern-1, .skin-chooser-wrap .list-inline > li#color-pattern-1.color-pattern {
        background-image: url('../img/patterns/congruent_pentagon.png');
    }

    .color-pattern-2, .skin-chooser-wrap .list-inline > li#color-pattern-2.color-pattern {
        background-image: url('../img/patterns/geometry2.png');
    }

    .color-pattern-3, .skin-chooser-wrap .list-inline > li#color-pattern-3.color-pattern {
        background-image: url('../img/patterns/giftly.png');
    }

    .color-pattern-4, .skin-chooser-wrap .list-inline > li#color-pattern-4.color-pattern {
        background-image: url('../img/patterns/halftone.png');
    }

    .color-pattern-5, .skin-chooser-wrap .list-inline > li#color-pattern-5.color-pattern {
        background-image: url('../img/patterns/restaurant_icons.png');
    }
}

/* Style Switcher
 * -------------------------- */
.skin-chooser-wrap {
    width: 300px;
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 8888;
    background-color: #34495e;
    padding: 25px;
    margin-left: -300px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    box-shadow: 0 0 5px #34495e;
}

.skin-chooser-wrap .section {
    padding: 10px 0;
}

.skin-chooser-toggle {
    width: 45px;
    height: 45px;
    display: block;
    line-height: 45px;
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 45px;
    right: -45px;
    background-color: #34495e;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0 0 5px #34495e;
}

.skin-chooser-wrap h4, .skin-chooser-wrap h6 {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 800;
    margin-top: 0;
}

.skin-chooser-wrap h4 {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    border: 3px solid rgba(255,255,255,0.1);
}

.skin-chooser-wrap.show {
    margin-left: 0;
}

.skin-chooser-wrap .list-inline {
    padding-left: 5px;
}

.skin-chooser-wrap .list-inline > li.color-skin, .skin-chooser-wrap .list-inline > li.color-pattern {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #ffffff;
    margin-right: 5px;
}

.skin-chooser-wrap .list-inline > li#color-skin-1.color-skin {
    background-color: #14C990;
}

.skin-chooser-wrap .list-inline > li#color-skin-2.color-skin {
    background-color: #3498db;
}

.skin-chooser-wrap .list-inline > li#color-skin-3.color-skin {
    background-color: #f1c40f;
}

.skin-chooser-wrap .list-inline > li#color-skin-4.color-skin {
    background-color: #e67e22;
}

.skin-chooser-wrap .list-inline > li#color-skin-5.color-skin {
    background-color: #16a085;
}

.skin-chooser-wrap .list-inline > li.color-skin.active, .skin-chooser-wrap .list-inline > li.color-skin:hover, .skin-chooser-wrap .list-inline > li.color-pattern.active, .skin-chooser-wrap .list-inline > li.color-pattern:hover {
    outline: 2px solid #000;
}

/* Extras
 * -------------------------- */

@media (min-width: 1200px) {
    .container {
        width: 1040px;
    }
}

.hide-overflow {
    overflow: hidden;
}

/* Custom css*/
.mintoul-img{ 
    height: 150px; 
    background-color: gray;
}

#left-block{ margin-bottom: 25px; }

#right-column{
    padding: 10px 15px;
    border: 1px solid #ecf0f1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#right-column h4{ text-align: center; }

.h-content-item{ margin: 25px 0; }

.h-content-text{
    padding: 0px 35px 0px 0px;
    text-align: justify;
    word-wrap: break-word;
}

.info-item-title{ text-align: center; }

.info-item-img{ padding:  5px 0 10px; }

.info-item-text{
    text-align: justify;
    padding-left: 0;
    padding-right: 8px;
}

.info-item-link{
    color: #fff;
    padding: 5px 25px;
    margin: 8px;
    background: #14C990;
}

.info-item-link:hover{ 
    color: #FFF;
    background: #000;
    text-decoration: none; 
}

#our-clients .controls{
    position: absolute;
    width: 100%;
    top: 47%;
    z-index: 10;
    opacity: 0.7;
}

#client-prev, #client-next{ position: relative; }

@media (max-width: 768px) {
    .info-item-text{ padding-left: 10px; }
}

/* Custom - css */
/* Slider */
#coin-slider{
    width: 100% !important;
}

.cs-prev, .cs-next{ 
    font-size: 1.3em;
    padding: 15px 5px !important; 
}