<!-- Search block -->
<header id="header-search-box" class="search-box-wrapper">
    <div class="container">
        <div class="search-box">
            <button type="button" class="close"><span aria-hidden="true">×</span><span class="sr-only">Fermer</span></button>
            <form role="form">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-lg" type="button"><i class="fa fa-search"></i></button>
                    </span>
                    <input type="text" class="form-control input-lg" placeholder="Rechercher">
                </div>
            </form>
        </div>
    </div>
</header>
<!-- /Search block -->