<div class="home-content-block">
    <div class="row">
        <div id="h-content-1" class="h-content-item">
            <div class="h-content-img col-xs-12 col-sm-4">
                <img class="img-responsive" src="{{ asset('bundles/Immobilier/HomeContentBundle/img/home_content.jpg') }}" alt="home content image"/>
            </div>
            <div class="h-content-text col-xs-12 col-sm-8">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
    </div>

    <div class="row">
        <div id="h-content-2" class="h-content-item">
            <div class="h-content-img col-xs-12 col-sm-4">
                <img class="img-responsive" src="{{ asset('bundles/Immobilier/HomeContentBundle/img/home_content.jpg') }}" alt="home content image"/>
            </div>
            <div class="h-content-text col-xs-12 col-sm-8">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
    </div>

    <div class="row">
        <div id="h-content-3" class="h-content-item">
            <div class="h-content-img col-xs-12 col-sm-4">
                <img class="img-responsive" src="{{ asset('bundles/Immobilier/HomeContentBundle/img/home_content.jpg') }}" alt="home content image"/>
            </div>
            <div class="h-content-text col-xs-12 col-sm-8">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
    </div>
</div>