<!-- Slider -->
<div class="section type5">
    <div class="container">
        <ul class="pgwSlider">
            <li><img src="{{ asset('bundles/Immobilier/SliderBundle/img/slide1.jpg') }}" alt="slide 1" data-description="Description slide 1"></li>
            <li><img src="{{ asset('bundles/Immobilier/SliderBundle/img/slide2.jpg') }}" alt="slide 2"></li>
           <li>
                <img src="{{ asset('bundles/Immobilier/SliderBundle/img/slide3.jpg') }}">
                <span>Description slide 3</span>
            </li>
        </ul>
    </div>
</div>
<!-- /Slider -->