<div class="row">
	<div id="Infos-item-1" class="Infos-item col-xs-12 col-sm-4">
		<div class="info-item-title col-xs-12"><h5>Titre info 1</h5></div>
		<div class="info-item-img col-xs-4 col-sm-12">
			<img class="img-responsive" src="{{ asset('bundles/Immobilier/InfosBlocksBundle/img/info-block-img.jpg') }}" />
		</div>
		<div class="info-item-text col-xs-8 col-sm-12">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo...
		</div>
		<a href="#" class="info-item-link pull-right">
			Afficher		
		</a>
	</div>

	<div id="Infos-item-1" class="Infos-item col-xs-12 col-sm-4">
		<div class="info-item-title col-xs-12"><h5>Titre info 2</h5></div>
		<div class="info-item-img col-xs-4 col-sm-12">
			<img class="img-responsive" src="{{ asset('bundles/Immobilier/InfosBlocksBundle/img/info-block-img.jpg') }}" />
		</div>
		<div class="info-item-text col-xs-8 col-sm-12">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo...
		</div>
		<a href="#" class="info-item-link pull-right">
			Afficher		
		</a>
	</div>

	<div id="Infos-item-1" class="Infos-item col-xs-12 col-sm-4">
		<div class="info-item-title col-xs-12"><h5>Titre info 3</h5></div>
		<div class="info-item-img col-xs-4 col-sm-12">
			<img class="img-responsive" src="{{ asset('bundles/Immobilier/InfosBlocksBundle/img/info-block-img.jpg') }}" />
		</div>
		<div class="info-item-text col-xs-8 col-sm-12">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo...
		</div>
		<a href="#" class="info-item-link pull-right">
			Afficher		
		</a>
	</div>
</div>